html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html {
  font-size: 62.5%;
  font-family: arial;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3%;
}
nav a {
  font-size: 3rem;
  padding: 0 1%;
  border-right: 0.3rem solid black;
  text-decoration: none;
  color: black;
}
nav a:last-child {
  border-right: none;
}
nav a:first-child {
  font-weight: bold;
}
.title-container {
  border-bottom: 2px solid lightgray;
  border-width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.title-container .content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(https://picsum.photos/1300/700);
  width: 80%;
  height: 70vh;
  margin: 3% 5%;
  text-align: center;
}
.title-container .content-container h1 {
  font-size: 5rem;
  text-align: center;
  padding: 1%;
  color: white;
  font-weight: bold;
}
.artists-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
  padding: 2% 5%;
}
.artists-container .artist {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.artists-container .artist img {
  width: 80%;
  height: auto;
  border-radius: 0.5rem;
}
.artists-container .artist a {
  font-size: 3rem;
  padding: 3% 0 2% 0;
  text-decoration: none;
  color: black;
}
.artists-container .artist p {
  font-size: 1.7rem;
  padding: 2%;
  text-align: center;
}
