.title-container{
    .displayFlex(center,center);
    background-color:blue;
    flex-direction:column;
    h1{
        font-size: 5rem;
        text-align:center;
        padding: 1%;
    }
    button{
        padding:0.5% 2%;
        font-size:2rem;
        border-radius:.5rem;

    }
    
}