nav{
    .displayFlex(center,center);
    // background-color:red;
    padding:3%;
    @media @mobile {
        padding: 6%;
    }
    a{
        font-size:3rem;
        padding:0 1%;
        border-right: .3rem solid black;
        text-decoration: none;
        color:black;
        @media @mobile {
            font-size: 2rem;
            border-right: .2rem solid black;

        }
        // background-color:green;
    }
    a:last-child{
        border-right: none;
    }
    a:first-child{
        font-weight: bold;

    }
}